<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Wf Web Application</display-name>


    <!--<context-param>
      <param-name>contextClass</param-name>
      <param-value>
        com.longtu.framework.springexp.IfmisInitClasspathXmlApplicationContext
      </param-value>
    </context-param>
    <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:datasource.xml</param-value>
    </context-param>
    <context-param>
      <param-name>defcontextConfigLocation</param-name>
      <param-value>classpath:application-context-wf.xml</param-value>
    </context-param>-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:com/temp/component/redis/application-context-wf.xml</param-value>
    </context-param>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter>
      <filter-name>UserSyncFilter</filter-name>
      <filter-class>
        gov.mof.fasp2.sec.syncuserinfo.filter.UserSyncFilter
      </filter-class>
    </filter>
    <filter-mapping>
      <filter-name>UserSyncFilter</filter-name>
      <url-pattern>/fasp/*</url-pattern>
    </filter-mapping>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc-wf.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <!--<url-pattern>/hqbpmn/bpmnAction/*</url-pattern>-->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


    <!--<servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>-->


    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>
</web-app>
