<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vip.dcpay.commission.infrastructure.dao.OrderRecordDao"   >

    <select id="getMerchantDayTradeByParams"   resultType="vip.dcpay.commission.domain.pojo.MerchantDayTradePojo" >

		select merchant_id as merchantId,
            DATE_FORMAT(create_time,'%Y-%m-%d') as tradeDate,
            sum(trade_amount)as dayAmout,
            order_type as orderType,
            revc_payment_way as payWay
        from order_record
        <where>
            order_status = 100 and
			 <![CDATA[create_time<=#{endTime} and create_time>=#{beginTime}]]>
             and revc_payment_way=#{payWay}
             and order_type=#{orderType}
        </where>
        GROUP BY revc_payment_way,order_type, merchant_id,DATE_FORMAT(create_time,'%Y-%m-%d')

    </select>

    <select id="ceshiyixia"  resultType="vip.dcpay.commission.infrastructure.model.OrderRecord" >

        select *
        from order_record

    </select>

</mapper>
